[v-cloak] {
  display: none;
}

div.setting {
  width: calc(100% - 2px);
  background-color: #cff;
  padding: 10px;
  border: 2px solid #8af;
  position: fixed;
}

div.setting div.tips {
  margin-left: 20px;
  background-color: #ffb;
}

div.result {
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: calc(100% - 2px);
  background-color: cyan;
  border: solid 1px darkcyan;
}

.equip li {
  clear: both;
}

.equip li span {
  float: left;
  width: 10%;
  min-width: 60px;
}

.equip li span.title {
  width: 140px;
}

.equip li span.minus {
  width: 75px;
}

span.title button {
  min-width: 100px;
}

span.minus button {
  min-width: 60px;
}

.equip li span.buttons {
  width: 40%;
  max-width: 350px;
}

.equip li span.buttons button {
  background-color: #fbb;
}

.inputlist li {
  clear: both;
}

.inputlist li span {
  float: left;
  width: 10%;
  min-width: 60px;
}

.inputlist li span.spanclick {
  width: 50%;
  max-width: 300px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
		.fade-leave-to

		/* .fade-leave-active below version 2.1.8 */
			 {
  opacity: 0;
}

.onlysm {
  display: none;
}

/* =========== スマホ画面 ============ */
@media only screen and (max-width: 600px) {
  .onlysm {
    display: inline;
  }

  .equip li span.title {
    width: 100px;
  }

  .equip li span.buttons {
    width: 100%;
    padding-left: 10px;
  }

  .inputlist li span.spanclick {
    width: 35%;
  }
}
