<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="target-densitydpi=device-dpi, width=320, initial-scale=1.0, user-scalable=yes">
	<link href="view/common.css" rel="stylesheet" type="text/css" />
	<title>ペンギン風機器追加</title>
	<style>
		.equip li {
			clear: both;
		}

		.equip li span {
			float: left;
			width: 10%;
		}

		.equip li span.title {
			width: 20%;
			max-width: 150px;
		}
	</style>
</head>

<body>

	<div id="app" class=" v-cloak">

		<p>CO2:{{Math.round(co2*12)}}kg 平均{{Math.round(average*12)}}kg ペンギン {{penguin}}</p>
		<ul v-for="(cons,key) in equipCons" class="equip">
			<li>
				<span class="title">{{cons.name}}</span>
				<span>
					{{cons.count ? cons.num + " " + cons.count : (cons.num ? "使う" : "-")}}
				</span>
				<span>
					{{cons.co2 ? Math.round(cons.co2) : 0}}kg
				</span>
				<span>
					<button v-if="!cons.count && !cons.num" @click="togglecons(cons.name, cons.cons,key);">使う</button>
					<button v-if="cons.count" @click="addcons(cons.name, cons.cons,key);">ふやす</button>
				</span>
				<span>
					<button v-if="!cons.count && cons.num" @click="togglecons(cons.name, cons.cons,key);">使わない</button>
					<button v-if="cons.count && cons.num" @click="delcons(cons.name, cons.cons,key);">へらす</button>
				</span>
			</li>
		</ul>

	</div>


	<?php
		echo $jssets;
		echo $scripts;
		echo $jsgoogle;
		echo $jsgoogle_analytics;
	?>

	<script src="./vue/v1_equip/d6calc.js"></script>
	<script src="./vue/v1_equip/equip.js"></script>

	<script>
		//Vueの定義
		var app = new Vue({
			el: ' #app', //Vue変数 
			data: {
				equipCons: [
					{ cons: "consTV", name: "テレビ", count: "台", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "ノートパソコン", count: "台", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "デスクトップパソコン", count: "台", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "据置ゲーム機", count: "台", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "インターネットモデム", count: "", num: 0, maxnum: 0 },
					{ cons: "consLI", name: "照明", count: "部屋", num: 0, maxnum: 0 },
					{ cons: "consRF", name: "冷蔵庫", count: "台", num: 0, maxnum: 0 },
					{ cons: "consDRsum", name: "洗濯機", count: "", num: 0, maxnum: 0 },
					{ cons: "consACheat", name: "暖房", count: "部屋", num: 0, maxnum: 0 },
					{ cons: "consACcool", name: "冷房", count: "部屋", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "扇風機", count: "台", num: 0, maxnum: 0 },
					{ cons: "consHWtub", name: "風呂", count: "", num: 0, maxnum: 0 },
					{ cons: "consHWshower", name: "シャワー", count: "", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "ヘアドライヤー", count: "台", num: 0, maxnum: 0 },
					{ cons: "consCKcook", name: "コンロ", count: "", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "電子レンジ", count: "", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "炊飯器", count: "", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "トースター", count: "", num: 0, maxnum: 0 },
					{ cons: "consCKpot", name: "ポット", count: "", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "掃除機", count: "", num: 0, maxnum: 0 },
					{ cons: "consOTother", name: "熱帯魚水槽", count: "台", num: 0, maxnum: 0 },
					{ cons: "consCR", name: "車", count: "台", num: 0, maxnum: 0 }
				],

				co2: 0, reduceCO2: 0, cost: 0, reduceCost: 0, //画面定義 
				defInput: {}, //入力定義 ixxxごと
				defSelectValue: {}, //選択肢表示値 ixxxに変換 
				defSelectData: {}, //選択肢選択値 ixxxに変換 
				defCons: {}, //消費クラス（追加定義）の入力定義
				defConsMeasures: {}, //消費クラスの提案リスト定義 
				defConsThema: {}, //家で気になるところ定義 defInputGroup で定義 
				defConsShow: {}, //分野定義 
				selects: {},
				eqlist: {},
				cons_count: {},
				other_count: 0,
				important_items: {},
				rank100: 1,
				averageComment: "",
				averageCO2Comment: "",
				pageResult: {},
				average: 0,


				measures: [],
				measures_selectafter: [],
				measures_selectalready: [],
				measures_selectno: [],
			},
			methods: {
				addcons: function (title, consName, key) {
					var add = 0;
					Vue.set(this.equipCons[key], "num", this.equipCons[key].num + 1);
					if (!this.cons_count[key] || this.cons_count[key] < this.equipCons[key].num) {
						//最大値保存（品目ごと）
						Vue.set(this.cons_count, key, this.equipCons[key].num);
						if (consName == "consOTother") {
							//その他では品目ごと超えたら追加
							add = 1;
						}
					}

					if (!D6.consListByName[consName][this.equipCons[key].num]) {
						//その他以外は、消費クラス数で追加
						add = 1;
					}
					equipadd(consName, key, this.equipCons[key].num, add);	//機器追加
				},
				delcons: function (title, consName, key) {
					Vue.set(this.equipCons[key], "num", this.equipCons[key].num - 1);
					equipdel(consName, key, this.equipCons[key].num + 1);	//機器削除
				},

				togglecons: function (title, consName, key) {
					var add = 0;
					Vue.set(this.equipCons[key], "num", 1 - this.equipCons[key].num);
					if (this.equipCons[key].num == 0) {
						equipdel(consName, key, 1);	//機器削除

					} else {
						if (this.cons_count[key] != 1) {
							add = 1;
						}
						Vue.set(this.cons_count, key, 1);
						console.log(add);
						equipadd(consName, key, 1, add);	//機器追加
					}

				},
				calcco2: function () {//機器ごとのCO2の計算をして、設定する
					var co2;
					var co2sum = 0;
					for (var k in this.equipCons) {
						co2 = 0;
						switch (this.equipCons[k].cons) {
							case "consOTother":
								for (var k2 in D6.consListByName["consOTother"]) {
									var c = D6.consListByName["consOTother"][k2];
									if (c.name == this.equipCons[k].name) {
										co2 += c.co2;
									}
								}
								break;
							case "consTV":
							case "consLI":
							case "consRF":
							case "consACheat":
							case "consACcool":
								for (var k2 in D6.consListByName[this.equipCons[k].cons]) {
									if (k2 > 0) {
										co2 += D6.consListByName[this.equipCons[k].cons][k2].co2;
									}
								}
								break;
							case "consHWtub":
							case "consHWshower":
							case "consDRsum":
							case "consCKcook":
								co2 = D6[this.equipCons[k].cons].co2;
								break;

						}
						Vue.set(this.equipCons[k], "co2", co2 * 12);
						co2sum += (co2 ? co2 : 0);
					}
					Vue.set(this, "co2", co2sum);
					Vue.set(this, "average", D6.consTotal.co2Original);
				}
			},
			created: function () {

			},
			computed: {
				penguin: function () {
					return Math.round((this.average * 2 - this.co2) / this.average * 10);
				}

			},
			watch: {

			}
		}); //初期ロード時設定
		window.onload = function () {
			$(window).on("beforeunload", function () {
				file.saveToLocal(); //文字指定はIEしかサポートしていない return "診断を終了しますがよろしいですか？　ページを移動する場合には、ページ内のボタンやメニューを使ってください。"
			}); //初期データ読み込み 
			var param = {};
			param["get"] = { "scenario": 1 };
			callGetScenario(param);
			D6.fg_calccons_not_calcConsAdjust = true;
			equipinit();
		}; 
	</script>
</body>

</html>