.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
EXCEL_setting/~$D6v3_home_france.xlsx
開発/~$amazon_lambda開発.xlsx
EXCEL_setting/~*
