/*********************************************************************
D6 button type design
*********************************************************************/

/*--layout----------------------------------------------------------*/

body {
  font-size: 100%;
}

p {
  line-height: 1.2em;
  margin: 8px;
}

li.nodata {
  display: none;
}

/*--common----------------------------------------------------------*/

div.page {
  position: relative;
  padding: 20px;
  border: 1px solid #8f8;
  text-align: center;
}

div#measure {
  font-size: 0.9em;
}

div#measure th {
  font-size: 0.8em;
}

div.box {
  border: 1px solid;
  margin: 10px;
  padding: 5px;
}

/***ãƒœã‚¿ãƒ³*******/
.menu span,
.menu button {
  display: block;
  cursor: pointer;
  text-align: right;
  background-color: #eeeeee;
  font-size: 130%;
  line-height: 1.5em;
}

.menubutton,
button,
.button {
  font-size: 140%;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  white-space: nowrap;
  box-shadow: 2px 2px 2px #555;
  top: -10px;
}

.button {
  min-width: 215px;
}

button.small {
  font-size: 1.1em;
  padding: 4px;
}

.step button {
  padding: 3px;
  margin: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ff8;
  line-height: 1.2em;
  font-weight: 500;
  font-size: 1.2em;
  box-shadow: none;
}

button.tab {
  font-weight: 500;
  line-height: 1em;
  font-size: 1.1em;
  box-shadow: none;
  margin: 0px;
}

.menubutton,
button.next {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #8bffc8;
}

.large {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 40px;
  line-height: 1.3em;
}

h2.constitle {
  display: none;
}

.step {
  line-height: 2em;
  background-color: #ffc;
}

.life {
  line-height: 2em;
  padding-left: 30px;
}

.life span {
  cursor: pointer;
  padding: 3px;
  margin: 1px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ff8;
}
.step span:hover,
.step span:focus,
.life span:hover,
.life span:focus {
  color: #fafafa;
  background: #009800;
}

.button:hover,
.menu span:hover,
button.next:hover,
.button:focus,
.menu span:focus,
button.next:focus {
  color: #fafafa;
  background: #009800;
}

a:hover {
  color: #5a9aba;
}

/*
.step span.already{
	color:#fafafa;
	background:#009800!important;
}
*/
button.selected {
  background: #1a5a9a;
  color: #fff;
}

ul.submenu {
  display: none;
}

li#subpageeasy01-easy01 h3 {
  display: none;
}

li#subpageeasy01-easy01 {
  text-align: left;
}

div.column2 {
  float: left;
  width: 47%;
}

.over15 {
  border-color: #ff0000;
}

#measure {
  padding-top: 0px !important;
}

@media screen and (max-width: 640px) {
  body {
    font-size: 80%;
  }
  div.page {
    text-align: left;
  }
  div.sm100,
  div.column2 {
    width: 100% !important;
  }
  .step button {
    padding-left: 5px;
    padding-right: 5px;
  }
  .qbutton {
    min-width: 115px;
    padding: 3px;
  }
}
