<h2>Energy saving diagnosis at home, comfortable energy saving life</h2>

<div style="margin-left:5%;margin-right:5%;padding:10px;font-size:1.4em;background-color:LightCyan">
<p>To protect our lives from global warming, it will become a society that does not emit CO2 almost in 2050 (in the future about 30 years). CO2 emissions in Japan have already steadily declined.</p>
<p>By combining energy saving equipment and ingenuity in our life, we can almost make CO2 out. About 60 such effective measures are prepared for this diagnosis.</p>
<p>In this energy saving diagnosis, it is possible to calculate effective countermeasures according to the life of each person, and to assemble living how much can be reduced by oneself. Please try on your computer on how to make your life once in a lifetime, energy saving life that suits yourself. Surely, a good design will be found.</p>
</p>
</div>

<div class="button" style="width:60%;margin:20px 20%;text-align:center;height:60px;background-color:SpringGreen;padding:20px;" onclick="$('#top').hide();$('#divco2').show();startCalc( 'graphchange', '' );"><p style="font-size:1.8em;">Start diagnosis</p>
</div>

<div style="margin-left:5%;margin-right:5%;margin-top:30px;padding:10px;font-size:1.4em;background-color:LightCyan">
<p>How to use is easy. Please choose your question choice, such as how to use your home life and energy. You do not mind skipping more things you do not know. Conversely, if you want to make a detailed diagnosis, you can set more detailed information such as "by category" or "detailed version".</p>
<p>Depending on the answer, the result will change more and more. It will be shown in a graph such as what is more or less than the average, what kind of equipment is a problem, please refer to it. The order of effective countermeasures will also change.</p>
<p>The displayed countermeasures are arranged in the recommended order. Please check and select something that you are willing to work on even if you are not right now, and interest you. When measures are taken, it is immediately possible to know the simulation result as to how much utility expenses and CO2 emissions of the house are reduced. Please try assembling and trying to create a life design until 2050.</p>
</div>

