<h2>家庭の省エネ診断で、快適な省エネライフを</h2>

<div style="margin-left:5%;margin-right:5%;padding:10px;font-size:1.4em;background-color:LightCyan">
<p>　地球温暖化から生活を守るため、2050年（あと30年ほど未来）には、CO2をほとんど出さない社会になります。すでに日本のCO2排出量は、確実に減少に向かっています。</p>
<p>　私たちの生活も、いまある省エネ機器や工夫を組み合わせることで、ほとんどCO2を出さなくできます。そんな効果的な対策を、この診断では約60項目用意しています。</p>
<p>　この省エネ診断では、一人ひとりの生活にあわせて、効果的な対策を計算し、自分でどこまで削減できるのか生活を組み立てることができます。一生に一度の人生、自分にあった省エネ生活がどう作れるか、コンピュータ上で試してみてください。きっと、いい設計がみつかります。</p>
</p>
</div>

<div class="button" style="width:60%;margin:20px 20%;text-align:center;height:60px;background-color:SpringGreen;padding:20px;" onclick="$('#top').hide();$('#divco2').show();startCalc( 'graphchange', param );"><p style="font-size:1.8em;">診断をはじめる</p>
</div>

<div style="margin-left:5%;margin-right:5%;margin-top:30px;padding:10px;font-size:1.4em;background-color:LightCyan">
<p>　使い方は簡単です。家庭での生活やエネルギーの使い方など、質問の選択肢を選んでください。わからないものは、どんどん飛ばしてもらって構いません。逆に詳しく診断したい場合には、「分野別」や「詳細版」などより詳しく設定することもできます。</p>
<p>　回答に応じて、結果がどんどん変わっていきます。平均とくらべて多いのか少ないのか、どんな機器が問題なのかなど、グラフで示されますので、参考にしてください。有効な対策の順番も変わっていきます。</p>
<p>　表示された対策は、おすすめの順で並んでいます。その中から、今すぐでなくても取り組めそうなもの、関心があるものを、チェックして選んでみて下さい。対策をした場合に、どれだけ家の光熱費やCO2排出が減るのか、すぐにシミュレーション結果がわかります。ぜひ組み立ててみて、2050年までの人生設計をつくりあげてみてください。</p>
</div>

