<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
	<h1>Home Eco Diagnosis API</h1>
	<input type="button" onclick="ajax(0)" value="有効な温暖化対策リスト(最大15項目）"><br>
	<input type="button" onclick="ajax(5)" value="有効な温暖化対策リスト(すべて）"><br>
	<input type="button" onclick="ajax(6)" value="対策コード1の内容の詳細"><br>
	<input type="button" onclick="ajax(1)" value="CO2の用途別内訳"><br>
	<input type="button" onclick="ajax(2)" value="世帯人数1人設定とCO2の用途別内訳"><br>
	<input type="button" onclick="ajax(3)" value="平均値"><br>
	<input type="button" onclick="ajax(4)" value="世帯人数1人設定の平均値"><br>

	<h2>結果</h2>
	<div class="result" style="width:100%;border:1px solid;padding:5px;">
	</div>

	<script>
		var ajdata = [];
		var cmd = {};

		//measure
		cmd.get = { "measure": 1 };
		cmd.set = {};
		ajdata[0] = JSON.stringify({ "data": cmd });

		cmd.get = { "measure_all": 1 };
		cmd.set = {};
		ajdata[5] = JSON.stringify({ "data": cmd });

		cmd.get = { "measure_detail": 1, "detail": 1 };
		cmd.set = {};
		ajdata[6] = JSON.stringify({ "data": cmd });

		//itemize
		cmd.get = { "itemize": 1 };
		cmd.set = {};
		ajdata[1] = JSON.stringify({ "data": cmd });

		//itemize
		cmd.get = { "itemize": 1 };
		cmd.set = { "inp": { "i001": 1 } };
		ajdata[2] = JSON.stringify({ "data": cmd });

		//average 問題あり　average_graph
		cmd.get = { "average_graph": 1 };
		cmd.set = {};
		ajdata[3] = JSON.stringify({ "data": cmd });

		cmd.get = { "average_graph": 1 };
		cmd.set = { "inp": { "i001": 1 } };
		ajdata[4] = JSON.stringify({ "data": cmd });

		ajax = function (n) {
			console.log(ajdata[n]);
			$.ajax({
				url: ' https://e440rtlcfb.execute-api.ap-northeast-1.amazonaws.com/default',
				type: 'POST',
				//            headers: { x-api-key: "7SSA3ZaUSX5hwsHICx7N8GBI3ZgVEDY8Sh2M0k4j" },
				data: ajdata[n],
				dataType: 'json', // 応答のデータの種類 (xml/html/script/json/jsonp/text)
				//            contentType: "application/json",
			})
				// Ajaxリクエストが成功した時発動
				.done((data) => {
					$('.result').html(data.body);
					console.log(JSON.stringify(data.body, null, '\t'));
				})
		};
	</script>

</body>

</html>